{{ partial "header.html" . }}

<div class="home">

  <section class="intro">
    <div
      data-0="transform[swing]:translateY(0%);opacity: 1;"
      data-top-bottom="transform[swing]:translateY(30%);opacity: 0;">
      <h1>
        Make your landscape dreams come true
      </h1>
      <h5>
        Specializing in personalized residential and small commercial landscape design and construction, we transform your ideas into design and reality.
      </h5>
      <a href="#contact" class="btn btn-primary">Get a Quote</a>
    </div>
    <a class="next" href="#gallery"></a>
  </section>

  <section class="gallery" id="gallery">
    <div class="background-white"></div>
    <div class="content">
      <div class="title">
        <h2>Beauty Through Simplicity</h2>
        <a
          href="https://www.facebook.com/ValleyDesignBuild/photos"
          target="_blank"
          class="btn btn-primary">
          View Gallery
        </a>
      </div>
      <a class="images"
        href="https://www.facebook.com/ValleyDesignBuild/photos"
        target="_blank"
        data-top-bottom="transform:translateY(-100px);"
        data-bottom-top="transform:translateY(100px);"
        >
        <div class="image">
          <img src="/img/gallery1.jpg">
        </div>
        <div class="image">
          <img src="/img/gallery2.jpg">
        </div>
        <div class="image">
          <img src="/img/gallery3.jpg">
        </div>
        <div class="image">
          <img src="/img/gallery4.jpg">
        </div>
        <div class="image">
          <img src="/img/gallery5.jpg">
        </div>
      </a>
      <br />
      <p class="text-center">
        <button
          class="btn btn-primary-dark">
          View Gallery
        </button>
      </p>
    <a class="next" href="#design"></a>
  </section>

  <section class="design" id="design">
    <div class="background"></div>
    <div
      class="content"
      data-bottom-top="transform:translateY(80px)" data-top-bottom="transform:translateY(-80px)">
      <h2>Designed with Precision and Quality</h3>
      <p>
        Our degree-holding designers are highly experienced architects trained to bring precision and quality to uniquely tailored designs for each and every client. Our goal is simple: offer the best world-class experience you'll ever have with unprecedented satisfaction.
      </p>
      <p>
        <a href="#contact" class="btn btn-primary">Get Started</a>
      </p>
    </div>
    <a class="next" href="#build"></a>
  </section>

  <section class="build" id="build">
    <div class="background"></div>
    <div
      class="content"
      data-bottom-top="transform:translateY(80px)" data-top-bottom="transform:translateY(-80px)">
      <h2>Installed with Care and Efficiency</h3>
      <p>
        When it comes time to bring your design to life, we are fully invested for the life of your landscape. We pride ourselves in our careful attention to detail and approach each project as a unique opportunity to ensure a timely and smooth implementation.
      </p>
      <p>
        <a href="#contact" class="btn btn-primary">Get a Bid!</a>
      </p>
    </div>
    <a class="next" href="#testimonials"></a>
  </section>

  <section class="testimonials" id="testimonials">
    <div class="-pad">
      <h3>Our customers know us best!</h3>
      <div class="testimonials-wrap">

        <div class="testimonial"
          data-bottom-top="transform[swing]:translateX(-75px);"
          data-center="transform[swing]:translateX(0);"
        >
          <div class="photo-wrap">
            <div class="photo"
              style="background-image: url('/img/jbrough.jpg')"
              data-bottom-top="transform[swing]:translateX(100%);"
              data-center="transform[swing]:translateX(0%);"
              ></div>
          </div>
          <div class="testimonial-inner">
            <p>"Kevin and crew were absolutely fantastic.  He was exceptional at communicating and making sure that my wife was comfortable with everything that he was doing.  We have another project that we will be doing in the fall and he will be the one to do it."</p>

            <div class="name">
              <h6>Joe Brough</h6>
            </div>
          </div>
        </div>

        <div class="testimonial"
          data-bottom-top="transform[swing]:translateX(-75px);"
          data-center="transform[swing]:translateX(0);"
        >
          <div class="photo-wrap">
            <div class="photo"
              style="background-image: url('/img/mclark.jpg')"
              data-bottom-top="transform[swing]:translateX(100%);"
              data-center="transform[swing]:translateX(0%);"
              ></div>
          </div>
          <div class="testimonial-inner">
            <p>"We loved working with Kevin and his VDB crew. His experience and insights helped guide us to the right design that fit our property our budget and our lifestyle. Kevin was great at explaining the entire process and provided us with updates daily throughout the build. It was exciting to see how quickly the project progressed and our new yard coming to life. We were impressed with how flexible and nimble VDB was when we made a couple of adjustments in the middle of the project!
            </p>
            <p>One day when Kevin was building our retaining wall we looked out he window and wondered if we could add a couple of steps. I went outside and told Kevin what we were thinking - that same day Kevin got the material, built in the steps and they looked better than we imagined. I highly recommend Valley Design Build. "</p>

            <div class="name">
              <h6>Michael Clark</h6>
            </div>
          </div>
        </div>

        <div class="testimonial"
          data-bottom-top="transform[swing]:translateX(-75px);"
          data-center="transform[swing]:translateX(0);"
        >
          <div class="photo-wrap">
            <div class="photo"
              style="background-image: url('/img/rjones.jpg')"
              data-bottom-top="transform[swing]:translateX(100%);"
              data-center="transform[swing]:translateX(0%);"
              ></div>
          </div>
          <div class="testimonial-inner">
            <p>"We are so happy we went with Valley Design Build for our new yard. The planning process was so smooth. Kevin did a great job taking our ideas and elevating them into the perfect design plan. Once install started Kevin and his employees were prompt, friendly and professional. The experience couldn't have been any better."</p>
            <div class="name">
              <h6>Ryan Jones</h6>
            </div>
          </div>
        </div>

      </div>
      <br />
      <br />
      <div class="text-center">
        <a class="btn btn-success"
        href="https://www.google.com/search?site&source=hp&ei=gnrQV_i9LdK8jwO3jpXgCw&q=valley%20design%20build%20utah&oq=valley%20de&gs_l=mobile-gws-hp.3.0.35i39k1l2j0i131k1j0i20k1l2.1260.3153.0.3677.17.14.3.3.3.0.294.2019.1j10j2.13.0..2..0...1.1.64.mobile-gws-hp..5.12.786.3..0j0i10i67k1j0i67k1j0i46i67k1j46i67k1j0i10k1.SLqzyEnldwo&dlnr=1&sei=hnrQV_X9PNSYjwOA-6aoCA#dlnr=1&fpstate=lie&lrd=0x87530cbcc9c873c1:0xd359e873017ad04a,1,"
        target="_blank">See more reviews</a>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="content">
      <h3>Give Us a Call and We'll Get Started!</h3>
      <a
        class="btn btn-primary"
        href="tel:8015107142">(801) 510-7142
      </a>
    </div>
  </section>

</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  window.pages.home()
})
</script>

{{ partial "footer.html" . }}
