.blog
.single
  padding: 80px 20px
  pad-max()
  transition: all .3s ease

.blog
  .article-list-title
    margin: 15px 0 30px

  .article-list
    display:flex
    flex-wrap: wrap
    article
      flex: 1 1 400px
      margin: 0 20px 40px 0px
      background:white
      padding: 20px
      box-shadow: 0 0 20px 0 alpha(black, .1)
      border-radius: 5px

      .article-title
        margin: 10px 0
        color: $colorPrimary

  .read-more
    color: $colorPrimary
    margin-top:30px
    display:block
    text-align:right

    .btn
      font-size: .8em
      padding:10px

.single
  .single-title
    margin: 15px 0 30px

  .meta
    font-size: 1.2em
    line-height: 1.2em
    margin: 40px 0

    ul
      margin-bottom: 10px
      li
        font-weight:700
        display:inline-block
        a:hover
          color: $colorPrimaryLight
