.home
  padding: 0

  $pad-lg = 100px 10%
  $pad-sm = 70px 20px

  section
    position:relative

  .next
    position:absolute
    left:50%
    bottom: 60px
    width:30px
    height: @width
    transform: rotate(45deg) translateX(-50%)
    border-right: solid 4px white
    border-bottom: solid 4px white
    border-radius: 5px

  .intro
    min-height: 105vh
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 20% 10%
    background-image: url('/img/intro.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    color: white
    z-index: 2
    @media screen and (max-width:600px)
      padding: $pad-sm

    h1
    h5
      text-shadow: 0 0 20px alpha(black, .7), 0 0 20px alpha(black, .7), 0 0 20px alpha(black, .7)
    h1
      margin:0
    h5
      font-weight: lighter

    .btn
      margin-top: 30px

  .gallery
    z-index: 0
    min-height: 105vh
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 10% 10% 150px
    background: url('/img/white-polygon.jpg')
    background-position: top center
    background-repeat: none
    background-size: cover
    text-align:center
    angle-right()
    @media screen and (max-width:600px)
      padding: 70px 20px 150px

    &:after
      background-color:white

    .background-white
      position:absolute
      top:0
      left:0
      right:0
      bottom:0
      pointer-events: none
      background: linear-gradient(alpha(white, 0), white 50%)
      z-index:0

    .content
      z-index: 1

    .title
      margin: 20px 0 40px
      color: alpha(black, .5)

      .btn
        margin-top: 15px

    .images
      display:flex
      flex-wrap: wrap
      align-items: center

    .image
      flex: 1 1 250px
      margin: 10px

    img
      box-shadow: 0 0 20px 0 alpha(black, .3)
      border: 2px solid white
      border-radius: 5px
      transition: all .3s easeOutBack
      &:hover
        transform: scale(1.05)

    .next
      border-color: $colorText

  .design
    min-height: 105vh
    background-image: url('/img/design.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    color:black
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: $pad-lg
    text-shadow: 0 0 20px alpha(white, .7)
    @media screen and (max-width:600px)
      padding: $pad-sm

    .content
      max-width:500px

    .background
      position:absolute
      top:0
      left:0
      bottom: 0
      right:0
      background: linear-gradient(45deg, alpha(white, 1), transparent)

    .next
      border-color: $colorText

  .build
    min-height: 105vh
    background-image: url('/img/build.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    color:white
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: flex-end
    padding: $pad-lg
    text-align: right
    text-shadow: 0 0 20px alpha(black, .7), 0 0 20px alpha(black, .7), 0 0 40px alpha(black, .7)
    @media screen and (max-width:600px)
      padding: $pad-sm

    .content
      max-width:500px

    h2
      margin: 0

    .background
      position:absolute
      top:0
      left:0
      bottom: 0
      right:0
      background: linear-gradient(45deg, alpha(black, 1), transparent)

  .testimonials
    padding: $pad-lg
    angle-right()
    background: white
    @media screen and (max-width:600px)
      padding: $pad-sm
      .-pad
        padding: 0 20px

    h3
    h4
      text-align:center
    h3
      margin: 10px 0
    h4
      color: $colorPrimaryLight
    .testimonials-wrap
      display:flex
      flex-wrap: wrap
      align-items: flex-start

    .testimonial
      position:relative
      flex: 1 1 100%
      margin: 40px 20px
      padding: 0 0 0 140px
      align-self: stretch

      @media screen and (max-width: 600px)
        padding: 120px 0 0
        text-align:center

      .testimonial-inner
        position:relative
        padding: 20px
        box-shadow: 0 0 20px 0 alpha(black .2)
        border-radius: 5px
        background: white
        z-index: 1
        min-height: 200px
        height:100%

      .photo-wrap
        position:absolute
        top:50%
        left:0
        transform: translateY(-50%)
        z-index: 0

        @media screen and (max-width: 600px)
          top:0
          left:50%
          transform: translate(-50%, 0)

      .photo
        width:150px
        height:150px
        border: solid 5px white
        border-radius: 5px
        box-shadow: 0 7px 20px 0 alpha(black, .3)
        background-size: cover
        background-position: 50% 50%
        transform-origin: right

      p
        margin-bottom: 15px
      h6
        margin: 5px 0

  .contact
    min-height: 50vh
    background: $colorPrimaryDark
    color:white
    display:flex
    align-items: center
    justify-content: center
    text-align: center
    padding: $pad-lg
    angle-right()
    @media screen and (max-width:600px)
      padding: 50px 20px

    .btn
      margin-top: 40px
      font-size: 2em
      width:100%
      text-align:center
      a
        color:white
      h3
        margin:0
