.onboarding
  width: 100%

  .wrap
    max-width:1000px
    width:90%
    margin:0 auto
    padding-top:30px

  h1
    margin-bottom: 40px
  ol
    font-size: 1.2em
    list-style-type: decimal

    li
      margin-left: 60px
      line-height: 1.3em

  .hbspt-form
    background:$colors.primary
    margin-top: 50px
    padding:50px 20px 30px
    width: 100%
    color:white
    font-weight:100
    font-size:12px
    angle-left()

    form
      width:90%
      max-width:1000px
      margin:0 auto

    .field
      margin-bottom:20px

    label
      font-size:20px


.onboarding-thanks
  padding-top: 30px
  iframe
    margin-top:50px
    height:1200px

  .calendly-inline-widget
    height: auto !important
