/*  overpassfont.org */
@font-face { src: url("https://overpass-30e2.kxcdn.com/Overpass-Bold.eot"); font-family: 'Overpass'; /* IE9 Compat Modes */ src: url("https://overpass-30e2.kxcdn.com/Overpass-Bold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Bold.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Bold.svg#Overpass-Bold") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 700; text-rendering: optimizeLegibility; ; }
@font-face { src: url("https://overpass-30e2.kxcdn.com/Overpass-Regular.eot"); font-family: 'Overpass'; /* IE9 Compat Modes */ src: url("https://overpass-30e2.kxcdn.com/Overpass-Regular.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Regular.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Regular.svg#Overpass-Regular") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 600; text-rendering: optimizeLegibility; ; }
@font-face { src: url("https://overpass-30e2.kxcdn.com/Overpass-Italic.eot"); font-family: 'Overpass'; /* IE9 Compat Modes */ src: url("https://overpass-30e2.kxcdn.com/Overpass-Italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Italic.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Italic.svg#Overpass-Italic") format("svg"); /* Legacy iOS */ font-style: italic; font-weight: 600; text-rendering: optimizeLegibility; ; }
@font-face { src: url("https://overpass-30e2.kxcdn.com/Overpass-Light.eot"); font-family: 'Overpass'; /* IE9 Compat Modes */ src: url("https://overpass-30e2.kxcdn.com/Overpass-Light.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Light.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Light.svg#Overpass-Light") format("svg"); /* Legacy iOS */ font-style: normal; font-weight: 400; text-rendering: optimizeLegibility; ; }

@import 'nib'
global-reset()

@import './colors'

@import './general'
@import './input'
@import './easing'
@import './type'
@import './button'

@import './layout'
@import './nav'

@import './pages/**'
