.btn, input[type="submit"]
  display:inline-block
  padding: 15px 20px
  border:0
  font-size:15px
  background:$colorPrimary
  color:white
  outline:0
  border-radius:2px
  transition: all .3s easeOutBack
  cursor:pointer
  text-decoration: none

  &:hover
    transform: scale(1.1) translateY(5%)
    box-shadow: 0 10px 10px 0 alpha(black, .1)

  &.btn-light
    background:white
    color: $colorPrimary

  &.btn-primary-dark
    background: $colorPrimaryDark
    color: white

  &.btn-success
    background: $colorSuccess
    color: white

/**/

  &.btn-small
    font-size: 12px
    padding: 5px 12px
