*
  box-sizing:border-box

html
body
  width:100%
  max-width:100%
  overflow-x: hidden
  background:darken(white, 1%)

body
  overflow: hidden

a
  text-decoration: none
  color:inherit

.shadow
  box-shadow: 0 0 20px 0 alpha(black .3)

img
  max-width:100%

.hidden
  display:none

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

clip-path(x)
  -o-clip-path: x
  -moz-clip-path: x
  -webkit-clip-path: x
  clip-path: x

angle-left()
  position: relative
  z-index: 1

  &:before,
  &:after
    background-color: inherit
    content: ''
    display: block
    height: 50%
    left: 0
    position: absolute
    right: 0
    z-index: -1

  &:before
    top: 0
    transform: skewY(-3deg)
    transform-origin: 0 0

  &:after
    bottom: 0
    transform: skewY(3deg)
    transform-origin: 0 100%

angle-right()
  position: relative
  z-index: 1

  &:before,
  &:after
    background-color: inherit
    content: ''
    display: block
    height: 50%
    left: 0
    position: absolute
    right: 0
    z-index: -1

  &:before
    top: 0
    transform: skewY(3deg)
    transform-origin: 100% 0

  &:after
    bottom: 0
    transform: skewY(-3deg)
    transform-origin: 100%

.gpu-accelerated
  transform: translateZ(0)
  perspective: 1000
  backface-visibility: hidden
