input, textarea
  max-width:100%
  border: 0
  padding:10px
  border-radius:4px
  outline:0
  font-size:15px
  transition:all .3s ease-out
  z-index: 0
  &:hover
    box-shadow: 0 5px 15px 0 alpha(black, .15)
  &:focus
    z-index: 1
    box-shadow: 0 5px 15px 0 alpha(black, .3)

effect()
  box-shadow: inset 0 0 0 0px $colorPrimary, inset 0 0 0 0px white, inset 0 0 0 1px alpha(black, .15), inset 0 0 0 4px white, inset 0 0 0 30px alpha(black, .15)
hoverEffect()
  box-shadow: inset 0 0 0 1px $colorPrimary, inset 0 0 0 3px white, inset 0 0 0 30px $colorPrimary, inset 0 0 0 30px white, inset 0 0 0 30px alpha(black, .15)

[type="checkbox"]
[type="radio"]
  margin: 0
  width:1em
  height:1em
  appearance: none
  -webkit-appearance: none
  transition: all .6s ease
  effect()

[type="checkbox"]
  &[value="true"]
  &[checked]
  &[checked="checked"]
    hoverEffect()

[type="radio"]
  border-radius: 500px
  &:hover
  &:focus
    effect()
    &:checked
      hoverEffect()
  &:checked
    hoverEffect()
