.relative
  position:relative

.pad
  padding:10px

.pad-sm
  padding:5px

.flex
  display:flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.flex-25
  flex: 0 0 25%

.flex-50
  flex: 0 0 50%

pad-max()
  @media screen and (min-width:1300px)
    padding-left: 10%
    padding-right:10%
