$breakpoint = 768px

$navAnimationSpeed = 1s
$navHeightMin = 50px
$navHeight = 100px

$mobileMenuHeight = 200px
// max 518

menu-minimized()
  height: $navHeightMin
  box-shadow: 0 0 20px 0 alpha(black, .3)
  background: $colorPrimary
  .faded-background
    opacity: 0
  .logos
    margin-left:12px
  .start-trial
    margin-right:6px
    display:inline-block
    a
      padding: 7px 15px

nav
  position:fixed
  width:100%
  top:0
  left:0
  z-index:1000
  transition: all $navAnimationSpeed ease

  .faded-background
    opacity: 1
    width:100%
    height:200%
    position: absolute
    left:0
    top:0
    background linear-gradient(alpha(darken(saturate($colorPrimaryDark, 100%), 20%), 1) 0%, transparent 100%)
    transition: all $navAnimationSpeed ease
    pointer-events: none
    z-index: -1

  .inner-nav
    pad-max()
    height:$navHeight
    width:100%
    display:flex
    justify-content: space-between
    align-items: center
    transition: all $navAnimationSpeed ease

    &.minimize
      menu-minimized()

  & + *
    padding-top: $navHeight

  .logos
    position:relative
    height:70%
    flex: 1 1 auto
    margin-left:20px
    transition: all $navAnimationSpeed ease

    &, *
      backface-visibility: hidden
      transform: translateZ(0) scale(1.0, 1.0)

  h1
    height:100%
    display: inline-block
    margin:0
    padding:0

  .logo
    position:absolute
    top:0
    left:0
    width:130px
    height:100%
    background-image: url('/img/logo.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position:left center
    transition: all $navAnimationSpeed ease

  .show-menu
    display:block
    position: absolute
    width: $navHeightMin
    height: @width
    left: 50%
    top: 0
    margin-left: -($navHeightMin / 2)
    margin-right: @margin-left
    padding:18px 16px
    cursor: pointer
    pointer-events: none
    opacity:0
    transition: all $navAnimationSpeed ease
  .show-menu-bar-wrap
    height:14px
    width: 20px
    position:relative
  .show-menu-bar
    position:absolute
    width:100%
    height:2px
    background:white
    &:nth-child(1)
      top:0
    &:nth-child(2)
      top:50%
      transform: translateY(-50%)
    &:nth-child(3)
      bottom:0

  .menu
    font-weight: 500
    font-size: 15px
    display:flex
    list-style: none
    transition: all $navAnimationSpeed ease

    &:hover a
      opacity: 0.8

    a
      text-decoration:none
      color: white
      padding:8px
      transition: all .1s ease
      border-radius: 3px
      display:block

    li:hover a
      opacity: 1
      text-shadow: 0 0 20px alpha(black, .3)

    li.active
      background: alpha(black, .1)

  .start-trial
    margin-right:16px
    transition: all $navAnimationSpeed ease
    transform-origin: top right
    animation: attention-animation 8s infinite
    a
      padding: 10px 15px
      margin-left: 10px
      color:white
      background: alpha($colorPrimaryDark, .7)
      border-radius: 3px
      transition: all .3s ease
      &:hover
        background: $colorSuccess

  @media screen and (max-width: $breakpoint)
    transition: all .3s ease

    .inner-nav
      menu-minimized()

    .show-menu
      opacity: 1
      pointer-events: all
      transition: all .3s ease  

    .menu
      position: absolute
      top: 0
      left: 0
      height: 0
      overflow: scroll
      width: 100%
      background: white
      display:block
      margin:0
      font-size: 1.5em
      transition: all .3s ease

      li
        display:block
        border-bottom: 1px solid alpha(black, .05)
        text-shadow: none

      a
        color: $colorPrimaryDark
        padding: 15px

    &.menu-open
      padding-top: $mobileMenuHeight
      .show-menu
        top: $mobileMenuHeight
      .menu
        height:$mobileMenuHeight

  @media screen and (min-width: 1300px)
    .inner-nav
      padding: 0 10%

@keyframes attention-animation
  0%, 85%, 100%
    transform: scale(1)
  95%
    transform: scale(1.1)
