<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome To Valley Design Build</title>

  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="icon" type="image/x-icon" href="img/logo.png">
  <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
  <link rel="apple-touch-icon-precomposed" href="img/logo.png">

  <link rel="stylesheet" type="text/css" href="app.css">
</head>

<body id="skrollr-body">

  <nav>
    <img src="img/logo-white.png" class="logo" data-20="left: 50%; width:400px; transform: translate(-50%,0); margin-left: 0px" data-250="left: 0%; width:60px; transform: translate(0%,0); margin-left: 15px">
    <h1 class="logo-text" data-20="opacity:1; transform:translateY(0%) scale(1)" data-80="opacity:0; transform:translateY(-100%) scale(1.05)">Valley Design Build</h1>
  </nav>

  <section class="intro">
    <div class="content" data-0="transform:translateY(0px)" data-top-bottom="transform:translateY(-40px)">
      Specializing in personalized residential and small commercial landscape design and construction, we transform your ideas into design and reality.
    </div>
    <div class="bg-fade"></div>
  </section>

  <section class="design">
    <video autoplay loop poster="img/water-feature/water-feature.jpg">
      <source src="/img/water-feature/water-feature.webm" type="video/webm">
      <source src="/img/water-feature/water-feature.ogg" type="video/ogg">
      <source src="/img/water-feature/water-feature.mp4" type="video/mp4">
    </video>
    <div class="content">
      <h3 data-bottom-top="transform:translateY(80px)" data-top-bottom="transform:translateY(-80px)">Design + Build</h3>
      <div class="content" data-bottom-top="transform:translateY(80px)" data-top-bottom="transform:translateY(-40px)">
        We offer a fun and professional design experience while our degree-holding designers not only translate your ideas onto paper, but also oversee installation and construction to the end.
      </div>
    </div>

    <div class="bg-fade"></div>
  </section>

  <section class="contact">
    <div class="content" data-bottom-top="transform:translateY(40px)" data-top-bottom="transform:translateY(-40px)">
      <h3>For more information or a free estimate call</h3>
      <a href="tel:8015107142">
        <h3>(801) 510-7142</h3>
      </a>
    </div>
    <div class="bg-fade"></div>
  </section>


  <script src="app.js"></script>
</body>


</html>
