/*  overpassfont.org */
@font-face {
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Bold.eot");
  font-family: 'Overpass';
/* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Bold.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Bold.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Bold.svg#Overpass-Bold") format("svg");
/* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Regular.eot");
  font-family: 'Overpass';
/* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Regular.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Regular.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Regular.svg#Overpass-Regular") format("svg");
/* Legacy iOS */
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Italic.eot");
  font-family: 'Overpass';
/* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Italic.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Italic.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Italic.svg#Overpass-Italic") format("svg");
/* Legacy iOS */
  font-style: italic;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}
@font-face {
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Light.eot");
  font-family: 'Overpass';
/* IE9 Compat Modes */
  src: url("https://overpass-30e2.kxcdn.com/Overpass-Light.woff") format("woff"), url("https://overpass-30e2.kxcdn.com/Overpass-Light.ttf") format("truetype"), url("https://overpass-30e2.kxcdn.com/Overpass-Light.svg#Overpass-Light") format("svg");
/* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.color-primary {
  color: #0092b5;
}
.background-primary {
  background-color: #0092b5;
  color: #fff;
}
.color-primaryLight {
  color: #00b3ed;
}
.background-primaryLight {
  background-color: #00b3ed;
  color: #fff;
}
.color-primaryDark {
  color: #073546;
}
.background-primaryDark {
  background-color: #073546;
  color: #fff;
}
.color-default {
  color: #0092b5;
}
.background-default {
  background-color: #0092b5;
  color: #fff;
}
.color-success {
  color: #60bd68;
}
.background-success {
  background-color: #60bd68;
  color: #fff;
}
.color-warning {
  color: #d6c908;
}
.background-warning {
  background-color: #d6c908;
  color: #fff;
}
.color-danger {
  color: #f15854;
}
.background-danger {
  background-color: #f15854;
  color: #fff;
}
.color-stable {
  color: #999;
}
.background-stable {
  background-color: #999;
  color: #fff;
}
.color-dark {
  color: #666;
}
.background-dark {
  background-color: #666;
  color: #fff;
}
.color-light {
  color: #efefef;
}
.background-light {
  background-color: #efefef;
  color: #fff;
  color: $textColor;
}
.color-white {
  color: #fff;
}
.background-white {
  background-color: #fff;
  color: #fff;
  color: $textColor;
}
.color-bing {
  color: #ffb900;
}
.background-bing {
  background-color: #ffb900;
  color: #fff;
}
.color-facebook {
  color: #3b5998;
}
.background-facebook {
  background-color: #3b5998;
  color: #fff;
}
.color-twitter {
  color: #00a0d1;
}
.background-twitter {
  background-color: #00a0d1;
  color: #fff;
}
.color-google {
  color: #4285f4;
}
.background-google {
  background-color: #4285f4;
  color: #fff;
}
.color-pinterest {
  color: #910101;
}
.background-pinterest {
  background-color: #910101;
  color: #fff;
}
.color-linkedin {
  color: #1884bb;
}
.background-linkedin {
  background-color: #1884bb;
  color: #fff;
}
.color-stumbleupon {
  color: #eb4924;
}
.background-stumbleupon {
  background-color: #eb4924;
  color: #fff;
}
.color-yahoo {
  color: #4d1ac2;
}
.background-yahoo {
  background-color: #4d1ac2;
  color: #fff;
}
.color-golf0 {
  color: #5da5da;
}
.background-golf0 {
  background-color: #5da5da;
  color: #fff;
}
.color-golf1 {
  color: #60bd68;
}
.background-golf1 {
  background-color: #60bd68;
  color: #fff;
}
.color-golf2 {
  color: #decf3f;
}
.background-golf2 {
  background-color: #decf3f;
  color: #fff;
}
.color-golf3 {
  color: #faa43a;
}
.background-golf3 {
  background-color: #faa43a;
  color: #fff;
}
.color-golf4 {
  color: #f15854;
}
.background-golf4 {
  background-color: #f15854;
  color: #fff;
}
.color-golf5 {
  color: #4e4e4e;
}
.background-golf5 {
  background-color: #4e4e4e;
  color: #fff;
}
.color-golf6 {
  color: #929292;
}
.background-golf6 {
  background-color: #929292;
  color: #fff;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #fcfcfc;
}
body {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.shadow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
img {
  max-width: 100%;
}
.hidden {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input,
textarea {
  max-width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  outline: 0;
  font-size: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 0;
}
input:hover,
textarea:hover {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
}
input:focus,
textarea:focus {
  z-index: 1;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.3);
}
[type="checkbox"],
[type="radio"] {
  margin: 0;
  width: 1em;
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-box-shadow: inset 0 0 0 0px #0092b5, inset 0 0 0 0px #fff, inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 0 0 4px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 0px #0092b5, inset 0 0 0 0px #fff, inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 0 0 4px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
}
[type="checkbox"][value="true"],
[type="checkbox"][checked],
[type="checkbox"][checked="checked"] {
  -webkit-box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
}
[type="radio"] {
  border-radius: 500px;
}
[type="radio"]:hover,
[type="radio"]:focus {
  -webkit-box-shadow: inset 0 0 0 0px #0092b5, inset 0 0 0 0px #fff, inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 0 0 4px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 0px #0092b5, inset 0 0 0 0px #fff, inset 0 0 0 1px rgba(0,0,0,0.15), inset 0 0 0 4px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
}
[type="radio"]:hover:checked,
[type="radio"]:focus:checked {
  -webkit-box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
}
[type="radio"]:checked {
  -webkit-box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0 1px #0092b5, inset 0 0 0 3px #fff, inset 0 0 0 30px #0092b5, inset 0 0 0 30px #fff, inset 0 0 0 30px rgba(0,0,0,0.15);
}
body,
input {
  font-family: 'Overpass', sans-serif;
  color: rgba(0,44,54,0.7);
  font-weight: 500;
}
.alt {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  width: 100%;
}
h1 {
  font-size: 3em;
  font-weight: 700;
  margin-top: 2em;
  line-height: 1.2em;
}
h2 {
  font-size: 2.6em;
  font-weight: 500;
  margin-top: 1.5em;
  line-height: 1.2em;
}
h3 {
  font-size: 2.2em;
  font-weight: 500;
  margin-top: 1.17em;
  line-height: 1.2em;
}
h4 {
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 1.12em;
  line-height: 1.2em;
}
h5 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0.83em;
  line-height: 1.2em;
}
h6 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 0.75em;
  line-height: 1.2em;
}
p {
  line-height: 1.2em;
  margin-top: 0.5em;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
small {
  font-size: 0.7em;
}
.strike {
  text-decoration: line-through;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.btn,
input[type="submit"] {
  display: inline-block;
  padding: 15px 20px;
  border: 0;
  font-size: 15px;
  background: #0092b5;
  color: #fff;
  outline: 0;
  border-radius: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  text-decoration: none;
}
.btn:hover,
input[type="submit"]:hover {
  -webkit-transform: scale(1.1) translateY(5%);
  -moz-transform: scale(1.1) translateY(5%);
  -o-transform: scale(1.1) translateY(5%);
  -ms-transform: scale(1.1) translateY(5%);
  transform: scale(1.1) translateY(5%);
  -webkit-box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
}
.btn.btn-light,
input[type="submit"].btn-light {
  background: #fff;
  color: #0092b5;
}
.btn.btn-primary-dark,
input[type="submit"].btn-primary-dark {
  background: #073546;
  color: #fff;
}
.btn.btn-success,
input[type="submit"].btn-success {
  background: #60bd68;
  color: #fff;
}
.btn-small {
  font-size: 12px;
  padding: 5px 12px;
}
.relative {
  position: relative;
}
.pad {
  padding: 10px;
}
.pad-sm {
  padding: 5px;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-25 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}
.flex-50 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav .faded-background {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: 100%;
  height: 200%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(#003652 0%, transparent 100%);
  background: -moz-linear-gradient(#003652 0%, transparent 100%);
  background: -o-linear-gradient(#003652 0%, transparent 100%);
  background: -ms-linear-gradient(#003652 0%, transparent 100%);
  background: linear-gradient(#003652 0%, transparent 100%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  pointer-events: none;
  z-index: -1;
}
nav .inner-nav {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media screen and (min-width: 1300px) {
  nav .inner-nav {
    padding-left: 10%;
    padding-right: 10%;
  }
}
nav .inner-nav.minimize {
  height: 50px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  background: #0092b5;
}
nav .inner-nav.minimize .faded-background {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
nav .inner-nav.minimize .logos {
  margin-left: 12px;
}
nav .inner-nav.minimize .start-trial {
  margin-right: 6px;
  display: inline-block;
}
nav .inner-nav.minimize .start-trial a {
  padding: 7px 15px;
}
nav + * {
  padding-top: 100px;
}
nav .logos {
  position: relative;
  height: 70%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav .logos,
nav .logos * {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  -moz-transform: translateZ(0) scale(1, 1);
  -o-transform: translateZ(0) scale(1, 1);
  -ms-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}
nav h1 {
  height: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: left center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav .show-menu {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 0;
  margin-left: -25px;
  margin-right: -25px;
  padding: 18px 16px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav .show-menu-bar-wrap {
  height: 14px;
  width: 20px;
  position: relative;
}
nav .show-menu-bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
}
nav .show-menu-bar:nth-child(1) {
  top: 0;
}
nav .show-menu-bar:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
nav .show-menu-bar:nth-child(3) {
  bottom: 0;
}
nav .menu {
  font-weight: 500;
  font-size: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav .menu:hover a {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
nav .menu a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-radius: 3px;
  display: block;
}
nav .menu li:hover a {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  text-shadow: 0 0 20px rgba(0,0,0,0.3);
}
nav .menu li.active {
  background: rgba(0,0,0,0.1);
}
nav .start-trial {
  margin-right: 16px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-animation: attention-animation 8s infinite;
  -moz-animation: attention-animation 8s infinite;
  -o-animation: attention-animation 8s infinite;
  -ms-animation: attention-animation 8s infinite;
  animation: attention-animation 8s infinite;
}
nav .start-trial a {
  padding: 10px 15px;
  margin-left: 10px;
  color: #fff;
  background: rgba(7,53,70,0.7);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
nav .start-trial a:hover {
  background: #60bd68;
}
@media screen and (max-width: 768px) {
  nav .inner-nav {
    height: 50px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background: #0092b5;
  }
  nav .inner-nav .faded-background {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  nav .inner-nav .logos {
    margin-left: 12px;
  }
  nav .inner-nav .start-trial {
    margin-right: 6px;
    display: inline-block;
  }
  nav .inner-nav .start-trial a {
    padding: 7px 15px;
  }
  nav .show-menu {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    pointer-events: all;
  }
  nav .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    overflow: scroll;
    width: 100%;
    background: #fff;
    display: block;
    margin: 0;
    font-size: 1.5em;
  }
  nav .menu li {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    text-shadow: none;
  }
  nav .menu a {
    color: #073546;
    padding: 15px;
  }
  nav.menu-open {
    padding-top: 200px;
  }
  nav.menu-open .show-menu {
    top: 200px;
  }
  nav.menu-open .menu {
    height: 200px;
  }
}
@media screen and (min-width: 1300px) {
  nav .inner-nav {
    padding: 0 10%;
  }
}
@-moz-keyframes attention-animation {
  0%, 85%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes attention-animation {
  0%, 85%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-o-keyframes attention-animation {
  0%, 85%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes attention-animation {
  0%, 85%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  95% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.blog,
.single {
  padding: 80px 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1300px) {
  .blog,
  .single {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.blog .article-list-title {
  margin: 15px 0 30px;
}
.blog .article-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.blog .article-list article {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 400px;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
  margin: 0 20px 40px 0px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
}
.blog .article-list article .article-title {
  margin: 10px 0;
  color: #0092b5;
}
.blog .read-more {
  color: #0092b5;
  margin-top: 30px;
  display: block;
  text-align: right;
}
.blog .read-more .btn {
  font-size: 0.8em;
  padding: 10px;
}
.single .single-title {
  margin: 15px 0 30px;
}
.single .meta {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 40px 0;
}
.single .meta ul {
  margin-bottom: 10px;
}
.single .meta ul li {
  font-weight: 700;
  display: inline-block;
}
.single .meta ul li a:hover {
  color: #00b3ed;
}
.home {
  padding: 0;
}
.home section {
  position: relative;
}
.home .next {
  position: absolute;
  left: 50%;
  bottom: 60px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -moz-transform: rotate(45deg) translateX(-50%);
  -o-transform: rotate(45deg) translateX(-50%);
  -ms-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
  border-right: solid 4px #fff;
  border-bottom: solid 4px #fff;
  border-radius: 5px;
}
.home .intro {
  min-height: 105vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 20% 10%;
  background-image: url("/img/intro.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .home .intro {
    padding: 70px 20px;
  }
}
.home .intro h1,
.home .intro h5 {
  text-shadow: 0 0 20px rgba(0,0,0,0.7), 0 0 20px rgba(0,0,0,0.7), 0 0 20px rgba(0,0,0,0.7);
}
.home .intro h1 {
  margin: 0;
}
.home .intro h5 {
  font-weight: lighter;
}
.home .intro .btn {
  margin-top: 30px;
}
.home .gallery {
  z-index: 0;
  min-height: 105vh;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 10% 10% 150px;
  background: url("/img/white-polygon.jpg");
  background-position: top center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  z-index: 1;
}
.home .gallery:before,
.home .gallery:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.home .gallery:before {
  top: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.home .gallery:after {
  bottom: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -o-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
@media screen and (max-width: 600px) {
  .home .gallery {
    padding: 70px 20px 150px;
  }
}
.home .gallery:after {
  background-color: #fff;
}
.home .gallery .background-white {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(rgba(255,255,255,0), #fff 50%);
  background: -moz-linear-gradient(rgba(255,255,255,0), #fff 50%);
  background: -o-linear-gradient(rgba(255,255,255,0), #fff 50%);
  background: -ms-linear-gradient(rgba(255,255,255,0), #fff 50%);
  background: linear-gradient(rgba(255,255,255,0), #fff 50%);
  z-index: 0;
}
.home .gallery .content {
  z-index: 1;
}
.home .gallery .title {
  margin: 20px 0 40px;
  color: rgba(0,0,0,0.5);
}
.home .gallery .title .btn {
  margin-top: 15px;
}
.home .gallery .images {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.home .gallery .image {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 250px;
  -ms-flex: 1 1 250px;
  flex: 1 1 250px;
  margin: 10px;
}
.home .gallery img {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.home .gallery img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.home .gallery .next {
  border-color: #333;
}
.home .design {
  min-height: 105vh;
  background-image: url("/img/design.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 100px 10%;
  text-shadow: 0 0 20px rgba(255,255,255,0.7);
}
@media screen and (max-width: 600px) {
  .home .design {
    padding: 70px 20px;
  }
}
.home .design .content {
  max-width: 500px;
}
.home .design .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(45deg, #fff, transparent);
  background: -moz-linear-gradient(45deg, #fff, transparent);
  background: -o-linear-gradient(45deg, #fff, transparent);
  background: -ms-linear-gradient(45deg, #fff, transparent);
  background: linear-gradient(45deg, #fff, transparent);
}
.home .design .next {
  border-color: #333;
}
.home .build {
  min-height: 105vh;
  background-image: url("/img/build.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding: 100px 10%;
  text-align: right;
  text-shadow: 0 0 20px rgba(0,0,0,0.7), 0 0 20px rgba(0,0,0,0.7), 0 0 40px rgba(0,0,0,0.7);
}
@media screen and (max-width: 600px) {
  .home .build {
    padding: 70px 20px;
  }
}
.home .build .content {
  max-width: 500px;
}
.home .build h2 {
  margin: 0;
}
.home .build .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(45deg, #000, transparent);
  background: -moz-linear-gradient(45deg, #000, transparent);
  background: -o-linear-gradient(45deg, #000, transparent);
  background: -ms-linear-gradient(45deg, #000, transparent);
  background: linear-gradient(45deg, #000, transparent);
}
.home .testimonials {
  padding: 100px 10%;
  position: relative;
  z-index: 1;
  background: #fff;
}
.home .testimonials:before,
.home .testimonials:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.home .testimonials:before {
  top: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.home .testimonials:after {
  bottom: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -o-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
@media screen and (max-width: 600px) {
  .home .testimonials {
    padding: 70px 20px;
  }
  .home .testimonials .-pad {
    padding: 0 20px;
  }
}
.home .testimonials h3,
.home .testimonials h4 {
  text-align: center;
}
.home .testimonials h3 {
  margin: 10px 0;
}
.home .testimonials h4 {
  color: #00b3ed;
}
.home .testimonials .testimonials-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.home .testimonials .testimonial {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 40px 20px;
  padding: 0 0 0 140px;
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
}
@media screen and (max-width: 600px) {
  .home .testimonials .testimonial {
    padding: 120px 0 0;
    text-align: center;
  }
}
.home .testimonials .testimonial .testimonial-inner {
  position: relative;
  padding: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #fff;
  z-index: 1;
  min-height: 200px;
  height: 100%;
}
.home .testimonials .testimonial .photo-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
}
@media screen and (max-width: 600px) {
  .home .testimonials .testimonial .photo-wrap {
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
.home .testimonials .testimonial .photo {
  width: 150px;
  height: 150px;
  border: solid 5px #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 7px 20px 0 rgba(0,0,0,0.3);
  box-shadow: 0 7px 20px 0 rgba(0,0,0,0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
.home .testimonials .testimonial p {
  margin-bottom: 15px;
}
.home .testimonials .testimonial h6 {
  margin: 5px 0;
}
.home .contact {
  min-height: 50vh;
  background: #073546;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
  padding: 100px 10%;
  position: relative;
  z-index: 1;
}
.home .contact:before,
.home .contact:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.home .contact:before {
  top: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.home .contact:after {
  bottom: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -o-transform-origin: 100%;
  -ms-transform-origin: 100%;
  transform-origin: 100%;
}
@media screen and (max-width: 600px) {
  .home .contact {
    padding: 50px 20px;
  }
}
.home .contact .btn {
  margin-top: 40px;
  font-size: 2em;
  width: 100%;
  text-align: center;
}
.home .contact .btn a {
  color: #fff;
}
.home .contact .btn h3 {
  margin: 0;
}
.onboarding {
  width: 100%;
}
.onboarding .wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.onboarding h1 {
  margin-bottom: 40px;
}
.onboarding ol {
  font-size: 1.2em;
  list-style-type: decimal;
}
.onboarding ol li {
  margin-left: 60px;
  line-height: 1.3em;
}
.onboarding .hbspt-form {
  background: #0092b5;
  margin-top: 50px;
  padding: 50px 20px 30px;
  width: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.onboarding .hbspt-form:before,
.onboarding .hbspt-form:after {
  background-color: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
.onboarding .hbspt-form:before {
  top: 0;
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.onboarding .hbspt-form:after {
  bottom: 0;
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  -o-transform: skewY(3deg);
  -ms-transform: skewY(3deg);
  transform: skewY(3deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.onboarding .hbspt-form form {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.onboarding .hbspt-form .field {
  margin-bottom: 20px;
}
.onboarding .hbspt-form label {
  font-size: 20px;
}
.onboarding-thanks {
  padding-top: 30px;
}
.onboarding-thanks iframe {
  margin-top: 50px;
  height: 1200px;
}
.onboarding-thanks .calendly-inline-widget {
  height: auto !important;
}
.pricing {
  padding: 80px 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (min-width: 1300px) {
  .pricing {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.pricing .intro {
  text-align: center;
  margin: 70px 0 90px;
}
.pricing .intro h1 {
  margin: 0 0 10px;
}
.pricing .early-adopters {
  width: 80%;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
  z-index: 0;
  background: -webkit-linear-gradient(#f26965, #f15854);
  background: -moz-linear-gradient(#f26965, #f15854);
  background: -o-linear-gradient(#f26965, #f15854);
  background: -ms-linear-gradient(#f26965, #f15854);
  background: linear-gradient(#f26965, #f15854);
  color: #fff;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-name: early-adopter-anim;
  -moz-animation-name: early-adopter-anim;
  -o-animation-name: early-adopter-anim;
  -ms-animation-name: early-adopter-anim;
  animation-name: early-adopter-anim;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -ms-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 0 auto -270px;
  padding: 20px 20px 120px;
}
.pricing .early-adopters h5 {
  margin: 0;
}
.pricing .plans {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-top: 30px;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pricing .plan {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #007c9a;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
@media screen and (min-width: 761px) {
  .pricing .plan:hover .plan-inner {
    padding-top: 40px;
  }
  .pricing .plan:hover .btn {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.pricing .plan .btn {
  text-align: center;
  font-size: 1.2em;
}
.pricing .plan .btn:hover {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.pricing .plan:first-child {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 24%;
  -ms-flex: 1 1 24%;
  flex: 1 1 24%;
  min-height: 470px;
  border-radius: 3px 0 0 3px;
  z-index: 2;
}
.pricing .plan:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 27%;
  -ms-flex: 1 1 27%;
  flex: 1 1 27%;
  z-index: 1;
  border-radius: 3px;
  background: #073546;
  min-height: 510px;
  z-index: 3;
}
.pricing .plan:nth-child(3) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 24%;
  -ms-flex: 1 1 24%;
  flex: 1 1 24%;
  min-height: 470px;
  border-radius: 0 3px 3px 0;
  z-index: 2;
}
.pricing .plan:nth-child(4) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 22%;
  -ms-flex: 1 1 22%;
  flex: 1 1 22%;
  min-height: 430px;
  background: #0092b5;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}
.pricing .plan:nth-child(4) .btn {
  background: #00667f;
}
@media screen and (max-width: 760px) {
  .pricing .plan {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 48% !important;
    -ms-flex: 1 1 48% !important;
    flex: 1 1 48% !important;
    min-height: auto !important;
    border-radius: 5px !important;
    margin: 0 1% 10px;
  }
}
@media screen and (max-width: 500px) {
  .pricing .plan {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 100% !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    margin: 0 0 10px;
  }
}
.pricing .plan .plan-inner {
  padding: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 0.9em;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.pricing .plan .plan-inner h5,
.pricing .plan .plan-inner p {
  margin: 0;
}
.pricing .plan .title {
  margin: 30px 0 0;
  padding: 0 20px;
}
.pricing .plan .row {
  padding: 7px 0;
  border-bottom: solid 2px rgba(255,255,255,0.07);
}
.pricing .plan .row:last-child {
  border-bottom: none;
}
.pricing .plan .price {
  padding-bottom: 10px;
}
.pricing .plan small {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  margin-top: 5px;
}
.pricing .plan .strike {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.pricing .faq {
  margin-top: 80px;
}
.pricing .faq .title {
  margin: 0;
  text-align: center;
}
.pricing .faq .inner {
  margin-top: 10px;
  background: rgba(0,0,0,0.1);
  padding: 40px;
}
.pricing .faq .inner > h5:first-child {
  margin: 0;
}
.pricing .calculator {
  margin-top: 50px;
}
.pricing .calculator .title {
  text-align: center;
  margin-bottom: 30px;
}
.pricing .calculator .inner {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pricing .calculator .left,
.pricing .calculator .right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 400px;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
  padding: 0 20px;
}
.pricing .calculator .left {
  font-size: 1.8em;
  line-height: 2.4em;
}
.pricing .calculator .left .row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.pricing .calculator .left .row > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 50%;
}
.pricing .calculator .left input[type="number"] {
  font-size: 1em;
  width: 100%;
}
.pricing .calculator .left .frequency .label {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.pricing .calculator .left .radios {
  font-size: 0.8em;
  line-height: 1.5em;
  margin-top: 17px;
}
.pricing .calculator .left label {
  display: block;
}
.pricing .calculator .right {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #e7e7e7;
  border-radius: 5px;
  padding: 20px;
}
.pricing .calculator .right .amount {
  font-size: 3.8em;
  font-weight: 900;
}
@-moz-keyframes early-adopter-anim {
  0% {
    display: block;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    margin-bottom: -90px;
    padding-bottom: 80px;
  }
}
@-webkit-keyframes early-adopter-anim {
  0% {
    display: block;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    margin-bottom: -90px;
    padding-bottom: 80px;
  }
}
@-o-keyframes early-adopter-anim {
  0% {
    display: block;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    margin-bottom: -90px;
    padding-bottom: 80px;
  }
}
@keyframes early-adopter-anim {
  0% {
    display: block;
  }
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    margin-bottom: -90px;
    padding-bottom: 80px;
  }
}
