@import url('https://fonts.googleapis.com/css?family=Lato:300')
@import '_colors'

*
  margin 0
  padding 0
  box-sizing border-box

html
  height 100%

body
  background-image:
    url('/img/bg.png'),
    linear-gradient(gradLgt, gradDrk)
  background-repeat no-repeat
  background-size cover
  background-position bottom center
  font-family 'Lato', sans-serif
  font-weight 300
  text-align center
  color white
  min-height 100%

.logo
  width 150px
  margin 100px 0 50px

p
  font-size 20px

a
  color zabOrange
  text-decoration none
  &:hover
    opacity 0.6
